@import "../less/colors.less";
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .rin-main-bar {
      position: relative;
      width: 64px;
  }
  .modal-blur{
    -o-filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateZ(0); //这条语句用于性能优化 By:CDog 160202
  }
  .rin-inline-tag {
    display: inline-block;
    color: @color-inline-tag;
    background-color: @color-inline-tag-bg;
    height: 20px;
    padding-right: 5px;
    padding-left:5px;
    margin-right: 5px;
    transition: all .2s;

    &:hover{
      background-color:#fff !important;
    }
  }
}
