/* RGB */
// @color-primary-0: #2C3E50;
// @color-primary-1: #E74C3C;
// @color-primary-2: #ECF0F1;
// @color-primary-3: #3498DB;
// @color-primary-4: #2980B9;

/* Palette URL: http://paletton.com/#uid=13r0B0kiKO87EYldNTIn1Hprv-b */
@color-primary-0: #60B4D9;	/* Main Primary color */
@color-primary-1: #BFE6F7;
@color-primary-2: #89CDEA;
@color-primary-3: #3E9CC5;
@color-primary-4: #1F82AD;

/* Palette URL: http://paletton.com/#uid=75v0u0kaVz84jP27qHbeJtFiHpX */
// @color-primary-0: #EF9EAE;	/* Main Primary color */
// @color-primary-1: #F8D7DE;
// @color-primary-2: #F4BCC7;
// @color-primary-3: #DC778B;
// @color-primary-4: #C15066;

@table-bg-odd: #FAFAFA;
@table-bg-even: #F2F2F2;
