@import 'colors.less';
@import 'normalize.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body{
  font-family: 'Helvetica Neue','Microsoft Yahei',Helvetica,Arial,sans-serif;
  font-size: 14px;
  word-wrap: break-word;
  color: #222;
  background-color: #fff;
}

a {
  text-decoration: none;
  user-select: none;
  
  i { user-select: none }
}

.rin-row {
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  align-items: stretch;

  -ms-flex-direction: row;
  -ms-flex-align: stretch;

  .rin-col {
    position: relative;

    .rin-wrapper {
      position: relative;
    }
  }

  .rin-col-1 { width: 8.33% }
  .rin-col-2 { width: 16.66% }
  .rin-col-3 { width: 25% }
  .rin-col-4 { width: 33.33% }
  .rin-col-5 { width: 41.66% }
  .rin-col-6 { width: 50% }
  .rin-col-7 { width: 58.33% }
  .rin-col-8 { width: 66.66% }
  .rin-col-9 { width: 75% }
  .rin-col-10 { width: 83.33% }
  .rin-col-11 { width: 91.66% }
}

.rin-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.rin-center {
  text-align: center;
}

.rin-fade-transition { transition: all .6s ease; }
.rin-fade-enter, .rin-fade-leave { opacity: 0; }

form {
  .rin-message {
    display: block;
    font-size: 0.9em;
    line-height: 1.8em;
    padding: 0.6em 1.2em;
  }

  .rin-message.rin-error {
    color: @color-secondary-2-1;
    background-color: @color-secondary-2-4;
  }

  div {
    margin-bottom: 0.3em;
  }

  .rin-input {
    label, input {
      display:block;
    }

    input {
      width: 99%;

      // FIXME md style
      border: 2px solid white;
      background-color: transparent;
    }
  }

  .rin-checkbox {
    font-size: 0.6em;

    input,label {
      display: inline-block;
    }
  }
}
.rin-tag{
  font-size:12px;

  >span{
    display:inline-block;
    height:20px;
    line-height:20px;
    padding-right:5px;
    margin: 0 4px;
    margin-top:8px;
    background: #eee;
    border-radius: 3px;
    color: #6d6d6d;
    overflow:hidden;

    a{
      color:#6d6d6d;
    }

    img{
      width:20px;
      height:20px;
      vertical-align: top;
    }

    &:hover{
      color:#fff;
      background:@color-secondary-2-2;
    }
  }
}

/* From:http://designshack.net/articles/css/html5-css3-anchor-link-tooltips/ */
.rin-tip {
  position: relative;
  
  &:after {
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: -80%;
    opacity: 0;
    content: attr(data-tool); /* might also use attr(title) */
    height: auto;
    min-width: 100px;
    padding: 5px 8px;
    z-index: 999;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0,0,0,0.85);
    border-radius: 5px;
  }
  &:before {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    left: 40%;
    bottom: 100%;
    opacity: 0;
    content: "";
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: rgba(0,0,0,0.85) transparent transparent transparent;
  }
  &:hover:after{ visibility: visible; opacity: 1; bottom: 20px; }
  &:hover:before{ visibility: visible; opacity: 1; bottom: 14px; }
  
  &.bottom:after { bottom: auto; top: 0; }
  &.bottom:hover:after { top: 120%; }
  &.bottom:before {
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent rgba(0,0,0,0.85) transparent;
    top: 0
  }
  &.bottom:hover:before { top: 100%; }
  
  /* tips on the right */
  &.right:after { left: 100%; bottom: -45%; }
  &.right:hover:after { left: 110%; bottom: -45%; }
  &.right:before {
    border-width: 5px 10px 5px 0;
    border-color: transparent rgba(0,0,0,0.85) transparent transparent;
    left: 90%;
    bottom: 2%;
  }
  &.right:hover:before { left: 100%; bottom: 2%; }
  
  /* tips on the left */
  &.left:after { left: auto; right: 100%; bottom: -45%; }
  &.left:hover:after { right: 130%; bottom: 15%; }
  &.left:before {
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent rgba(0,0,0,0.85);
    left: auto;
    right: 90%;
    bottom: 2%;
  }
  &.left:hover:before { right: 115%; bottom: 40%; }
}

.rin-button {
  display: flex;
  align-items: cetner;
  justify-content: center;
  cursor: pointer;
  
  &.round {
    border-radius: 50%;
  }
}