html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none
}

.rin-row {
  height: 100%;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-direction: row;
  align-items: stretch;
  
  -ms-flex-direction: row;
  -ms-flex-align: stretch;
  
  .rin-col { position: relative }
  
  .rin-col-1 { width: 8.33% }
  .rin-col-2 { width: 16.66% }
  .rin-col-3 { width: 25% }
  .rin-col-4 { width: 33.33% }
  .rin-col-5 { width: 41.66% }
  .rin-col-6 { width: 50% }
  .rin-col-7 { width: 58.33% }
  .rin-col-8 { width: 66.66% }
  .rin-col-9 { width: 75% }
  .rin-col-10 { width: 83.33% }
  .rin-col-11 { width: 91.66% }
}

.rin-list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.rin-center {
  text-align: center;
}