@import 'colors.less';
@import 'normalize.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body{
  font-family: 'Helvetica Neue','Microsoft Yahei',Helvetica,Arial,sans-serif;
  font-size: 14px;
  word-wrap: break-word;
  color: #222;
  background-color: #fff;
}

a {
  text-decoration: none
}

.rin-row {
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  align-items: stretch;

  -ms-flex-direction: row;
  -ms-flex-align: stretch;

  .rin-col {
    position: relative;

    .rin-wrapper {
      position: relative;
    }
  }

  .rin-col-1 { width: 8.33% }
  .rin-col-2 { width: 16.66% }
  .rin-col-3 { width: 25% }
  .rin-col-4 { width: 33.33% }
  .rin-col-5 { width: 41.66% }
  .rin-col-6 { width: 50% }
  .rin-col-7 { width: 58.33% }
  .rin-col-8 { width: 66.66% }
  .rin-col-9 { width: 75% }
  .rin-col-10 { width: 83.33% }
  .rin-col-11 { width: 91.66% }
}

.rin-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.rin-center {
  text-align: center;
}

.rin-fade-transition { transition: all .6s ease; }
.rin-fade-enter, .rin-fade-leave { opacity: 0; }

form {
  .rin-message {
    display: block;
    font-size: 0.9em;
    line-height: 1.8em;
    padding: 0.6em 1.2em;
  }

  .rin-message.rin-error {
    color: @color-secondary-2-1;
    background-color: @color-secondary-2-4;
  }

  div {
    margin-bottom: 0.3em;
  }

  .rin-input {
    label, input {
      display:block;
    }

    input {
      width: 99%;

      // FIXME md style
      border: 2px solid white;
      background-color: transparent;
    }
  }

  .rin-checkbox {
    font-size: 0.6em;

    input,label {
      display: inline-block;
    }
  }
}
.rin-tag{
  font-size:12px;

  >span{
    display:inline-block;
    height:20px;
    line-height:20px;
    padding-right:5px;
    margin: 0 4px;
    margin-top:8px;
    background: #eee;
    border-radius: 3px;
    color: #6d6d6d;
    overflow:hidden;

    a{
      color:#6d6d6d;
    }

    img{
      width:20px;
      height:20px;
      vertical-align: top;
    }

    &:hover{
      color:#fff;
      background:@color-secondary-2-2;
    }
  }
}

.rin-button {
  display: flex;
  align-items: cetner;
  justify-content: center;
  cursor: pointer;
  
  &.round {
    border-radius: 50%;
  }
}